In [1]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.
import pandas as pd
ds=pd.Series([1,2,3,4,5,6,7,8,9,10])
print(ds)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Write a Pandas program to convert a Panda module Series to  Python list and itâ€™s type.
import pandas as pd
ds=pd.Series([1,2,3,4,5,6,7,8,9,10])
ds.tolist()
print(ds.tolist())
type(ds.tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [5]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series
import pandas as pd
ds1=pd.Series([1,2,3,4,5])
ds2=pd.Series([1,2,3,4,5])
print(ds1+ds2)
print(ds1-ds2)
print(ds1*ds2)
print(ds1/ds2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    0
1    0
2    0
3    0
4    0
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [10]:
# Write a Pandas program to compare the elements of the two Pandas Series.
import pandas as pd
ds1 = pd.Series([1, 2, 3, 4, 5, 6])
ds2 = pd.Series([4, 5, 6, 7, 8, 9])
print(ds1>ds2)
print(ds1==ds2)
print(ds1<ds2)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [11]:
# Write a Pandas program to convert a dictionary to a Pandas series.
import pandas as pd
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds = pd.Series(dict)
ds

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [12]:
# Write a Pandas program to convert a NumPy array to a Pandas series
import pandas as pd
import numpy as np
np_array = [10, 20, 30, 40, 50]
pd_series = pd.Series(np_array)
print(pd_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
# Write a Pandas program to change the data type of given a column or a Series.
import pandas as pd
ds  = pd.Series([100,200,'python',300.12,400])
ds1 = pd.to_numeric(ds, errors='coerce')
ds1

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [24]:
# Write a Pandas program to convert the first column of a DataFrame as a Series
import pandas as pd
data = {'col1':[1,2,3,4], 'col2':[5,6,7,8], 'col3':[9,10,11,12]}
df = pd.DataFrame(data)
print(df)
print(df['col1'])

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12
0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [26]:
# Write a Pandas program to convert a given Series to an array.
import pandas as pd
ds = pd.Series([100,200,'python',300.12,400])
da = pd.array(ds)
da

<NumpyExtensionArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object

In [33]:
# Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
ds = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
ds1 = ds.apply(pd.Series).stack().reset_index(level=1, drop=True)
ds1

0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object

In [36]:
# Write a Pandas program to sort a given Series.
import pandas as pd
ds = pd.Series(['100','200','python','300.12','400'])
ds1=pd.Series(ds).sort_values()
ds1

0       100
1       200
3    300.12
4       400
2    python
dtype: object

In [40]:
# Write a Pandas program to add some data to an existing Series
import pandas as pd
ds = pd.Series(['100','200','python','300.12','400'])
ds1 = pd.concat([ds, pd.Series(['500','600','700','800','900'])], ignore_index=True)
print(ds1)

0       100
1       200
2    python
3    300.12
4       400
5       500
6       600
7       700
8       800
9       900
dtype: object

In [49]:
# Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd
ser = pd.Series([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15])
ser_sub = ser.head(5)
ser_sub

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [57]:
# Write a Pandas program to change the order of index of a given series.
import pandas as pd
s=pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
ser=s.reindex(['e','d','c','b','a'])
ser

e    5
d    4
c    3
b    2
a    1
dtype: int64

In [58]:
# Write a Pandas program to create the mean and standard deviation of the data of a given Series.
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7,8,9,10])
print(s.mean(), s.std(), s.var())

5.5 3.0276503540974917 9.166666666666666

In [64]:
# Write a Pandas program to get the items of a given series not present in another given series.
import pandas as pd
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

i = ser1[~ser1.isin(ser2)]
i

0    1
1    2
2    3
dtype: int64

In [65]:
# Write a Pandas program to get the items which are common of two given series.
import pandas as pd
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

i = ser1[ser1.isin(ser2)]
i

3    4
4    5
dtype: int64

In [66]:
# Write a Pandas program to get the items which are not common of two given series.
import pandas as pd
ser1 = pd.Series([1,2,3,4,5])
ser2 = pd.Series([4,5,6,7,8])

ser11 = pd.Series(np.union1d(ser1,ser2))
ser22 = pd.Series(np.intersect1d(ser1,ser2))
i = ser11[~ser11.isin(ser22)]
i

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [71]:
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series
import pandas as pd
s = pd.Series([1,2,3,4,5,6,7,8,9,10])
# print(s.describe())

def min_25_median_75_max(s):
    return s.describe()

min_25_median_75_max(s)

count    10.00000
mean      5.50000
std       3.02765
min       1.00000
25%       3.25000
50%       5.50000
75%       7.75000
max      10.00000
dtype: float64

In [72]:
# Write a Pandas program to compute the minimum, 25th percentile, median, 75th, and maximum of a given series
import pandas as pd
import numpy as np
num_state = np.random.RandomState(100)
num_series = pd.Series(num_state.normal(10,4,20))
print("Original series:", num_series)
result = np.percentile(num_series, [0,25,50,75,1])
print("Minimum:", result[0])
print("25th percentile:", result[1])
print("Median:", result[2])
print("75th percentile:", result[3])
print("Maximum:", result[4])

Original series: 0      3.000938
1     11.370722
2     14.612143
3      8.990256
4     13.925283
5     12.056875
6     10.884719
7      5.719827
8      9.242017
9     11.020006
10     8.167892
11    11.740654
12     7.665620
13    13.267388
14    12.690883
15     9.582355
16     7.874878
17    14.118931
18     8.247458
19     5.526727
dtype: float64
Minimum: 3.0009381077812103
25th percentile: 8.094638666640218
Median: 10.233537051661546
75th percentile: 12.215377329892807
Maximum: 3.480838000148649

In [74]:
# Write a Pandas program to calculate the frequency counts of each unique value of a given series.
import pandas as pd
s = pd.Series([1, 2, 1, 3, 3, 3, 4, 4, 4, 4])
print(s.value_counts())

4    4
3    3
1    2
2    1
Name: count, dtype: int64

In [89]:
# Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the serie
import pandas as pd
s = pd.Series([1, 2, 1, 3, 3, 3, 4, 4, 4, 4])

counts = s.value_counts()

max_count = counts.max()

s[s!= max_count] = 'Other'
s[~s.isin(s.value_counts().index[:3])] = 'Other'
s

/tmp/ipykernel_32491/749578055.py:9: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Other' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  s[s!= max_count] = 'Other'

0    Other
1    Other
2    Other
3    Other
4    Other
5    Other
6        4
7        4
8        4
9        4
dtype: object

In [91]:
# Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd
s = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70])
print(s.index[s%5==0])
# or
print(np.where(s%5==0))

Index([4, 9, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26], dtype='int64')
(array([ 4,  9, 14, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26]),)

In [93]:
# Write a Pandas program to extract items at given positions of a given series.
import pandas as pd

s = pd.Series([10, 20, 30, 40, 50, 60])
positions = [0, 2, 4]
print(s.take(positions))

0    10
2    30
4    50
dtype: int64

In [101]:
# Write a Pandas program to get the positions of items of a given series in another given series.
import pandas as pd

s1 = pd.Series([1, 2, 6, 7, 8, 9, 10, 3, 4, 5,])
s2 = pd.Series([1, 2, 3, 4, 5, 6])

# for i in s2:
#     s3 = [s1.index[s1 == i]]
#     print(s3)
    
s4 = [pd.Index(s1).get_loc(i) for i in s2]
s4

[0, 1, 7, 8, 9, 2]