In [1]:
# Write a Pandas program to create and display a one-dimensional array-like object containing an array of data.
import pandas as pd
ds=pd.Series([1,2,3,4,5,6,7,8,9,10])
print(ds)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [4]:
# Write a Pandas program to convert a Panda module Series to  Python list and itâ€™s type.
import pandas as pd
ds=pd.Series([1,2,3,4,5,6,7,8,9,10])
ds.tolist()
print(ds.tolist())
type(ds.tolist())

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

list

In [5]:
# Write a Pandas program to add, subtract, multiple and divide two Pandas Series
import pandas as pd
ds1=pd.Series([1,2,3,4,5])
ds2=pd.Series([1,2,3,4,5])
print(ds1+ds2)
print(ds1-ds2)
print(ds1*ds2)
print(ds1/ds2)

0     2
1     4
2     6
3     8
4    10
dtype: int64
0    0
1    0
2    0
3    0
4    0
dtype: int64
0     1
1     4
2     9
3    16
4    25
dtype: int64
0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
dtype: float64

In [10]:
# Write a Pandas program to compare the elements of the two Pandas Series.
import pandas as pd
ds1 = pd.Series([1, 2, 3, 4, 5, 6])
ds2 = pd.Series([4, 5, 6, 7, 8, 9])
print(ds1>ds2)
print(ds1==ds2)
print(ds1<ds2)

0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
5    False
dtype: bool
0    True
1    True
2    True
3    True
4    True
5    True
dtype: bool

In [11]:
# Write a Pandas program to convert a dictionary to a Pandas series.
import pandas as pd
dict = {'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}
ds = pd.Series(dict)
ds

a    100
b    200
c    300
d    400
e    800
dtype: int64

In [12]:
# Write a Pandas program to convert a NumPy array to a Pandas series
import pandas as pd
import numpy as np
np_array = [10, 20, 30, 40, 50]
pd_series = pd.Series(np_array)
print(pd_series)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [21]:
# Write a Pandas program to change the data type of given a column or a Series.
import pandas as pd
ds  = pd.Series([100,200,'python',300.12,400])
ds1 = pd.to_numeric(ds, errors='coerce')
ds1

0    100.00
1    200.00
2       NaN
3    300.12
4    400.00
dtype: float64

In [24]:
# Write a Pandas program to convert the first column of a DataFrame as a Series
import pandas as pd
data = {'col1':[1,2,3,4], 'col2':[5,6,7,8], 'col3':[9,10,11,12]}
df = pd.DataFrame(data)
print(df)
print(df['col1'])

   col1  col2  col3
0     1     5     9
1     2     6    10
2     3     7    11
3     4     8    12
0    1
1    2
2    3
3    4
Name: col1, dtype: int64

In [26]:
# Write a Pandas program to convert a given Series to an array.
import pandas as pd
ds = pd.Series([100,200,'python',300.12,400])
da = pd.array(ds)
da

<NumpyExtensionArray>
[100, 200, 'python', 300.12, 400]
Length: 5, dtype: object

In [33]:
# Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
ds = pd.Series([['Red', 'Green', 'White'], ['Red', 'Black'], ['Yellow']])
ds1 = ds.apply(pd.Series).stack().reset_index(level=1, drop=True)
ds1

0       Red
0     Green
0     White
1       Red
1     Black
2    Yellow
dtype: object