**Combine two Series using concat():**

In [1]:
import numpy as np
import pandas as pd

In [2]:
s1 = pd.Series(['p', 'q'])

In [3]:
s2 = pd.Series(['x', 'y'])

In [4]:
pd.concat([s1, s2])

0    p
1    q
0    x
1    y
dtype: object

**Reset the above result by setting the ignore_index option to True:**

In [5]:
pd.concat([s1, s2], ignore_index=True)

0    p
1    q
2    x
3    y
dtype: object

**Add a hierarchical index at the outermost level of the data with the keys option:**

In [6]:
pd.concat([s1, s2], keys=['s1', 's2'])

s1  0    p
    1    q
s2  0    x
    1    y
dtype: object

**Label the index keys with the names option:**

In [7]:
pd.concat([s1, s2], keys=['s1', 's2'],
          names=['Series name', 'Row ID'])

Series name  Row ID
s1           0         p
             1         q
s2           0         x
             1         y
dtype: object

**Combine two DataFrame objects with identical columns:**

In [8]:
df1 = pd.DataFrame([['p', 2], ['q', 3]],
                    columns=['letter', 'number'])
df1

  letter  number
0      p       2
1      q       3

In [9]:
df2 = pd.DataFrame([['r', 4], ['s', 5]],
                   columns=['letter', 'number'])
df2

  letter  number
0      r       4
1      s       5

In [10]:
pd.concat([df1, df2])

  letter  number
0      p       2
1      q       3
0      r       4
1      s       5

**Combine DataFrame objects with overlapping columns and return everything. Columns outside the intersection will<br>
be filled with NaN values.**

In [11]:
df3 = pd.DataFrame([['r', 4, 'lion'], ['s', 5, 'fox']],
                   columns=['letter', 'number', 'animal'])
df3

  letter  number animal
0      r       4   lion
1      s       5    fox

In [12]:
pd.concat([df1, df3], sort=False)

  letter  number animal
0      p       2    NaN
1      q       3    NaN
0      r       4   lion
1      s       5    fox

**Combine DataFrame objects with overlapping columns and return only those that are shared by passing inner<br>
to the join keyword argument.**

In [13]:
pd.concat([df1, df3], join="inner")

  letter  number
0      p       2
1      q       3
0      r       4
1      s       5

**Combine DataFrame objects horizontally along the x axis by passing in axis=1:**

In [14]:
df4 = pd.DataFrame([['hen', 'jack'], ['dog', 'jolly']],
                   columns=['animal', 'name'])

In [15]:
pd.concat([df1, df4], axis=1)

  letter  number animal   name
0      p       2    hen   jack
1      q       3    dog  jolly

**Prevent the result from including duplicate index values with the verify_integrity option:**

In [16]:
df5 = pd.DataFrame([1], index=['p'])
df5

   0
p  1

In [17]:
df6 = pd.DataFrame([2], index=['p'])
df6

   0
p  2

pd.concat([df5, df6], verify_integrity=True)
Traceback (most recent call last):
    ...
ValueError: Indexes have overlapping values: ['p']