**CSV**<br>
Writing to a csv file.

In [1]:
import numpy as np
import pandas as pd

In [7]:
dates = pd.date_range('20190101', periods=8)

In [8]:
df = pd.DataFrame(np.random.randn(8, 4), index=dates, columns=list('PQRS'))

In [9]:
In [143]: df.to_csv('foo.csv')

Reading from a csv file.

In [10]:
pd.read_csv('foo.csv')

   Unnamed: 0         P         Q         R         S
0  2019-01-01  0.128082  0.784592 -1.139479  0.578256
1  2019-01-02  0.873370  0.815321  0.778275 -0.115625
2  2019-01-03  1.116831 -0.023869 -1.115379  0.526202
3  2019-01-04  0.581541 -0.889688  0.169974  0.057896
4  2019-01-05 -0.993359  1.543000  0.099995  3.336584
5  2019-01-06 -0.696077 -0.472649  0.156410 -2.057440
6  2019-01-07  0.190225  0.038607  1.029302  1.548920
7  2019-01-08  0.158961  0.725732 -0.295778 -0.001887

**HDF5**<br>
Writing to a HDF5 Store.

In [11]:
df.to_hdf('foo.h5', 'df')

Reading from a HDF5 Store.

In [12]:
pd.read_hdf('foo.h5', 'df')

                   P         Q         R         S
2019-01-01  0.128082  0.784592 -1.139479  0.578256
2019-01-02  0.873370  0.815321  0.778275 -0.115625
2019-01-03  1.116831 -0.023869 -1.115379  0.526202
2019-01-04  0.581541 -0.889688  0.169974  0.057896
2019-01-05 -0.993359  1.543000  0.099995  3.336584
2019-01-06 -0.696077 -0.472649  0.156410 -2.057440
2019-01-07  0.190225  0.038607  1.029302  1.548920
2019-01-08  0.158961  0.725732 -0.295778 -0.001887

**Excel**<br>
Writing to an excel file.

In [13]:
df.to_excel('foo.xlsx', sheet_name='Sheet1')

Reading from an excel file.

In [14]:
pd.read_excel('foo.xlsx', 'Sheet1', index_col=None, na_values=['NA'])

  Unnamed: 0         P         Q         R         S
0 2019-01-01  0.128082  0.784592 -1.139479  0.578256
1 2019-01-02  0.873370  0.815321  0.778275 -0.115625
2 2019-01-03  1.116831 -0.023869 -1.115379  0.526202
3 2019-01-04  0.581541 -0.889688  0.169974  0.057896
4 2019-01-05 -0.993359  1.543000  0.099995  3.336584
5 2019-01-06 -0.696077 -0.472649  0.156410 -2.057440
6 2019-01-07  0.190225  0.038607  1.029302  1.548920
7 2019-01-08  0.158961  0.725732 -0.295778 -0.001887