In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame({'s1': ['one', 'one', 'one', 'two', 'two',
                            'two'],
                    's2': ['P', 'Q', 'R', 'P', 'Q', 'R'],
                    's3': [2, 3, 4, 5, 6, 7],
                    's4': ['x', 'y', 'z', 'q', 'w', 't']})
df

    s1 s2  s3 s4
0  one  P   2  x
1  one  Q   3  y
2  one  R   4  z
3  two  P   5  q
4  two  Q   6  w
5  two  R   7  t

In [3]:
df.pivot(index='s1', columns='s2', values='s3')

s2   P  Q  R
s1
one  2  3  4
two  5  6  7

In [4]:
df.pivot(index='s1', columns='s2')['s3']

s2   P  Q  R
s1
one  2  3  4
two  5  6  7

In [5]:
df.pivot(index='s1', columns='s2', values=['s3', 's4'])

    s3       s4
s2   P  Q  R  P  Q  R
s1
one  2  3  4  x  y  z
two  5  6  7  q  w  t

A ValueError is raised if there are any duplicates.

In [6]:
df = pd.DataFrame({"s1": ['one', 'one', 'two', 'two'],
                   "s2": ['P', 'P', 'Q', 'R'],
                   "s3": [1, 2, 4, 5]})
df

    s1 s2  s3
0  one  P   1
1  one  P   2
2  two  Q   4
3  two  R   5

Notice that the first two rows are the same for our index and columns arguments.

In [7]:
df.pivot(index='s1', columns='s2', values='s3')

ValueError: Index contains duplicate entries, cannot reshape