**Examples**

In [1]:
import numpy as np
import pandas as pd

In [4]:
s = pd.Series(list('pqrp'))

In [5]:
pd.get_dummies(s)

   p  q  r
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0

In [6]:
s1 = ['p', 'q', np.nan]

In [7]:
pd.get_dummies(s1)

   p  q
0  1  0
1  0  1
2  0  0

In [8]:
pd.get_dummies(s1, dummy_na=True)

   p  q  NaN
0  1  0    0
1  0  1    0
2  0  0    1

In [9]:
df = pd.DataFrame({'P': ['p', 'q', 'p'], 'Q': ['q', 'p', 'r'],
                   'R': [2, 3, 4]})

In [10]:
pd.get_dummies(df, prefix=['col1', 'col2'])

   R  col1_p  col1_q  col2_p  col2_q  col2_r
0  2       1       0       0       1       0
1  3       0       1       1       0       0
2  4       1       0       0       0       1

In [11]:
pd.get_dummies(pd.Series(list('pqrpp')))

   p  q  r
0  1  0  0
1  0  1  0
2  0  0  1
3  1  0  0
4  1  0  0

In [12]:
pd.get_dummies(pd.Series(list('pqrpp')), drop_first=True)

   q  r
0  0  0
1  1  0
2  0  1
3  0  0
4  0  0

In [13]:
pd.get_dummies(pd.Series(list('pqr')), dtype=float)

     p    q    r
0  1.0  0.0  0.0
1  0.0  1.0  0.0
2  0.0  0.0  1.0